<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.youber.cmput301f16t15.youber">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.RequestViewActivity"
            android:label="@string/title_activity_request_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".gui.RequestActivity" />
        <activity
            android:name=".gui.UserTypeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.DriverMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.DriverSearchListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.VehicleInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".gui.DriverViewRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
